@model Entities.JOBS
@{
    ViewBag.Title = "Update";
}
<section class="page-title-alt bg-primary position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white font-tertiary">Update Job</h1>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img src="@Url.Content("~/Content/images/illustrations/leaf-bg-top.png")" alt="illustrations" class="bg-shape-1 w-100">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-sm.png")" alt="illustration" class="bg-shape-2">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-yellow.png")" alt="illustrations" class="bg-shape-3">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-orange.png")" alt="illustrations" class="bg-shape-4">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-cyan.png")" alt="illustrations" class="bg-shape-5">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-cyan-lg.png")" alt="illustrations" class="bg-shape-6">
</section>
<br>
<br>
<div class="space">
    <div class="flex-box" style="font-family:Playfair Display; color:#41228e">
        @using (Html.BeginForm("Update", "Jobs", "id", FormMethod.Post))
        {<div class="forms">
                <br><br><br>
                <div class="input">@Html.TextBoxFor(r => r.ID, new { required = "required", maxlength = 6, placeholder = "Job ID*" })</div>
                <div class="input">@Html.TextBoxFor(r => r.JOB_NAME, new { required = "required", placeholder = "Job name*" })</div>
                <button class="button" type="submit"><span>Save</span></button>
            </div>}

        <div><img class="illus" style="width:30%" src="@Url.Content("~/Content/images/jobs.jpg")"></div>
    </div>
</div>

