<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/assets/img/avataaars.svg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Northwind Database</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>
<!-- Categories Section-->
<!--<section class="page-section categories" id="categories">
    <div class="container">-->
        <!-- Categories Section Heading-->
        <!--<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Categories</h2>-->
        <!-- Icon Divider-->
        <!--<div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        <div class="row">-->
            <!-- Categories List-->

            <!--<ul>
                @foreach (var item in ViewBag.Categories)
                {
        <li>
            Category @item.CategoryID: @item.CategoryName - @item.Description
        </li>
}
            </ul>

            <div class="col-md-6 col-lg-4 mb-5">
                <div class="categories-item mx-auto" data-toggle="modal" data-target="#categoriesModal2">
                    <div class="categories-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="categories-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/cake.png" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>-->
<!-- Shippers Section-->
<!--<section class="page-section bg-primary text-white mb-0" id="shippers">
    <div class="container">-->
        <!-- Shippers Section Heading-->
        <!--<h2 class="page-section-heading text-center text-uppercase text-white">Shippers</h2>-->
        <!-- Icon Divider-->
        <!--<div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>-->
        <!-- Shippers list-->
        <!--<div class="row">

            <div class="categories-item-caption d-flex align-items-center justify-content-center h-100 w-100">

                <ul>
                    @foreach (var item in ViewBag.Shippers)
                    {
        <li>
            Shipper @item.ShipperID: @item.CompanyName - Phone: @item.Phone
        </li>
}
                </ul>
            </div>
        </div>
    </div>


</section>-->
<!-- Products Section-->
<!--<section class="page-section" id="products">
    <div class="container">-->
        <!-- Products Section Heading-->
        <!--<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Products</h2>-->
        <!-- Icon Divider-->
        <!--<div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>-->
        <!-- Product Section Content-->

        <!--<h2>Search Product</h2>

        <form method="POST">
            <label for="id">ID:</label>
            <input type="text" name="idp" />
            <br />

            <input type="submit" value="Search" />
        </form>

        <p>
            Idealmente pondría una sección de búsqueda pero como no tuve tiempo de resolver un formulario que haga eso... <br>
            Mostraré algunos productos con el método para buscar por ID.<br>
            Product @ViewBag.Product5.ProductID: @ViewBag.Product5.ProductName - $@Math.Round(ViewBag.Product5.UnitPrice, 2) - @ViewBag.Product5.QuantityPerUnit <br>
            Product @ViewBag.Product10.ProductID: @ViewBag.Product10.ProductName - $@Math.Round(ViewBag.Product10.UnitPrice, 2) - @ViewBag.Product10.QuantityPerUnit <br>
            Product @ViewBag.Product20.ProductID: @ViewBag.Product20.ProductName - $@Math.Round(ViewBag.Product20.UnitPrice, 2) - @ViewBag.Product20.QuantityPerUnit <br>
            Product @ViewBag.Product30.ProductID: @ViewBag.Product30.ProductName - $@Math.Round(ViewBag.Product30.UnitPrice, 2) - @ViewBag.Product30.QuantityPerUnit <br>
        </p>
    </div>
</section>-->
