@{
    ViewBag.Title = "Meet us";
}
<section class="page-title-alt bg-primary position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white font-tertiary">Meet us</h1>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img src="@Url.Content("~/Content/images/illustrations/leaf-bg-top.png")" alt="illustrations" class="bg-shape-1 w-100">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-sm.png")" alt="illustration" class="bg-shape-2">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-yellow.png")" alt="illustrations" class="bg-shape-3">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-orange.png")" alt="illustrations" class="bg-shape-4">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-cyan.png")" alt="illustrations" class="bg-shape-5">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-cyan-lg.png")" alt="illustrations" class="bg-shape-6">
</section>
<br>
<br>
<div class="flex">
    <div class="grid-container">
        @foreach (var character in Model)
        {
            <div class="flex">
                <div>
                    <img class="charac" src="@character.Image" />
                </div>
                <div class="datos">
                    <br><h5 id="nombre">@character.Name </h5> <br>
                    <h6 id="datos">
                        Gender: @character.Gender <br> Species: @character.Species <br>@if (character.Type != null)
                        {@character.Type} <br>
                    </h6>
                </div>
            </div>
        }
    </div>
</div>