@model Entities.DEPARTMENTS
@{
    ViewBag.Title = "Insert";
}
<section class="page-title-alt bg-primary position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white font-tertiary">Insert Department</h1>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img src="@Url.Content("~/Content/images/illustrations/leaf-bg-top.png")" alt="illustrations" class="bg-shape-1 w-100">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-sm.png")" alt="illustration" class="bg-shape-2">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-yellow.png")" alt="illustrations" class="bg-shape-3">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-orange.png")" alt="illustrations" class="bg-shape-4">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-cyan.png")" alt="illustrations" class="bg-shape-5">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-cyan-lg.png")" alt="illustrations" class="bg-shape-6">
</section>
<br>
<br>
<div class="space">
    <div class="flex-box" style="font-family:Playfair Display; color:#41228e">
        @using (Html.BeginForm("Insert", "Departments", FormMethod.Post))
        {<div class="forms">
                <br>
                <div class="input">@Html.TextBoxFor(r => r.ID, new { required = "required", placeholder = "Department ID*" })</div>
                <div class="input">@Html.TextBoxFor(r => r.DEPARTMENT_NAME, new { required = "required", placeholder = "Department name*" })</div>
                <div class="input">
                    Location ID*:
                    <select style="width:38%" @Html.TextBoxFor(r => r.LOCATION_ID, new { required = "required" }) )>
                        <option> </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <div class="input">@Html.TextBoxFor(r => r.DEPARTMENT_DESCRIPTION, new { placeholder = "Department description" })</div>

                <button class="button" type="submit"><span>Save</span></button>
            </div>}

        <div><img class="illus" style="width:30%" src="@Url.Content("~/Content/images/departments.jpg")"></div>
    </div>
</div>