@model Entities.DEPARTMENTS
<section class="page-title-alt bg-primary position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white font-tertiary">Update Department</h1>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img src="@Url.Content("~/Content/images/illustrations/leaf-bg-top.png")" alt="illustrations" class="bg-shape-1 w-100">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-sm.png")" alt="illustration" class="bg-shape-2">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-yellow.png")" alt="illustrations" class="bg-shape-3">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-orange.png")" alt="illustrations" class="bg-shape-4">
    <img src="@Url.Content("~/Content/images/illustrations/dots-group-cyan.png")" alt="illustrations" class="bg-shape-5">
    <img src="@Url.Content("~/Content/images/illustrations/leaf-cyan-lg.png")" alt="illustrations" class="bg-shape-6">
</section>
<br>
<br>

@using (Html.BeginForm("Update", "Departments", "id", FormMethod.Post))
{
    <div>Department name: @Html.TextBoxFor(r => r.DEPARTMENT_NAME)</div>
    <div>
        Location ID:
        <select @Html.TextBoxFor(r => r.LOCATION_ID, new { required = "required" }) )>
            <option> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div>Department description: @Html.TextBoxFor(r => r.DEPARTMENT_DESCRIPTION)</div>
    <input style="margin:3px;" class="btn btn-sm btn-primary" type="submit" name="Save" value="Save" />
}


